header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #27050b;
    color: rgb(232, 219, 199);
    z-index: 5;
    font-family: sans-serif;
    height: 58px;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

a {
    color: rgb(232, 219, 199);
    padding: 10px 20px;
    text-decoration: none;;
}

a:hover {
    color: #ff3e3e;
}