.deleteButton {
  height: 25px;
  width: 25px;
  margin: 8px 20px 8px 0;
}

.editButton {
  height: 30px;
  width: 30px;
  margin: 5px 20px 8px 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  list-style: none;
  width: 93vw;
  border: 3px solid #27050b;
  border-radius: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

form {
  display: flex;
}

#subtitlePatch {
  width: 80%;
  margin-bottom: 10px;
}

#notePatch {
  height: 36px;
}

.updateLabels {
  font-size: 17px;
}

.patchIt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#updateNoteButton {
  margin: 15px 0 0 25px;
  justify-self: center;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px #27050B;
  font-size: 16px;
  font-family: 'Baloo', cursive;
}