@import url('https://fonts.googleapis.com/css?family=Baloo|Nunito+Sans:400,700&display=swap');

.editButton, .deleteButton {
  height: 20px;
  width: 20px;
  margin: 15px;
  background: blue;
}

.deleteButton {
  background: red;
}

h3 {
  text-align: center;
  color: #d5f2ff;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
  list-style: none;
  height: 300px;
  width: 200px;
  margin: 1.5vw;
  border-radius: 8px;
  border: 2px solid #27050b;
  background: #232323;
  box-shadow: 0 0 10px black;

}

.buttons {
  display: flex;
  justify-content: space-between;
}